body {
    font-family: 'Comfortaa', cursive;
}
.w186 {
    min-width: 186px;
}
.input-group-prepend~span {
    width: 100%;
}
.hide {
    display: none;
}
.error {
    background-color: red;
}
.cost {
    min-width: 46px;
}
ul {
    width: 100%;
}
/* input {
    height: 100%;
} */