body {
    font-family: 'Comfortaa';
}
.w186 {
    min-width: 186px;
}
.input-group-prepend~span {
    width: 100%;
}
.hide {
    display: none;
}
.cost {
    min-width: 46px;
}
ul {
    width: 100%;
}